<%= render @topic %>
<div>
  <%= link_to "Topicos", topics_path %>
  <%= link_to "Editar tópico", edit_topic_path(@topic) %>
  <%= button_to "Excluir tópico", @topic, method: :delete%> 
</div>
<% if notice %>
  <p style="color: green"><%= notice %></p>
<% end %>
