<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "New Comment", new_post_comment_path(@post) %>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
<hr>
<h4>Comentários</h4>
<% @post.comments.each do |comment| %>
  <div>
    <p><strong> @<%= comment.user.name %> </strong> comentou: <%= comment.body %></p>
    <hr>
  </div>
<% end %>